{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Preloader -->
<div id="preloader">
    <i class="circle-preloader"></i>
    <img src="{% static 'img/core-img/pizza.png' %}" alt="">
</div>

{% include 'partials/_menu.html' %}

<section class="container user-dashboard">
    <div class="meus-atendimentos">
        <h4 class="text-center">Meus Atendimentos</h4>
        {% if atendimentos %}
        {% for a in atendimentos %}
            <div class="meus-atendimentos-bloco">
                <div class="meus-atendimentos-infos">
                    <span><strong>Data:</strong> {{a.data}}</span>
                    <span><strong>Status:</strong> {% if a.status %} {{a.get_status_display}} {% else %} '' {% endif %}</span>
                </div>
                <p><strong>Guia:</strong> {{a.guia}}</p>
                <p><strong>Recomendações do guia:</strong> {{a.recomendacoes}}</p>
                {% comment %} <div><strong>Retorno:</strong> {% if a.precisa_retorno %} Sim {% else %} Não {% endif %}</div> {% endcomment %}

                <a id="link-mais" data-toggle="collapse" href="#detalhes-{{forloop.counter}}">Ver mais</a>
                <div class="mt-2 mb-2">
                </div>
                <div class="collapse" id="detalhes-{{forloop.counter}}">
                    <div class="card">
                        <div class="card-header"> <strong>Banhos</strong></div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Ingredientes</th>
                                        <th>Detalhes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for b in a.get_banhos %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{b.banho}}</td>
                                        <td>{% if b.instrucoes %}{{b.instrucoes}}{% else %}{{b.banho.descricao}}{% endif %}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td>Nenhum banho foi indicado</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header"><strong>Terapias</strong></div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Terapia</th>
                                        <th>Instruções</th>
                                        <th>Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for t in a.get_terapias %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{t.terapia}}</td>
                                        <td>{{t.instrucoes}}</td>
                                        <td>{% if t.data %} {{t.data}} {% else %} - {% endif %}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td>Nenhuma terapia foi indicada</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div><strong></strong>: </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <div class="meus-atendimentos-bloco">
            Você ainda não tem atendimentos
        </div>
        {% endif %}
    </div>
</section>

<script>

</script>

{% endblock %}