{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Preloader -->
<div id="preloader">
    <i class="circle-preloader"></i>
    <img src="{% static 'img/core-img/pizza.png' %}" alt="">
</div>

{% include 'partials/_menu.html' %}

<section class="container user-dashboard">
    <div class="meus-atendimentos">
        <h4 class="text-center">Meus Atendimentos</h4>
        {% if atendimentos %}
        {% for a in atendimentos %}
            <div class="meus-atendimentos-bloco">
                <div class="meus-atendimentos-infos">
                    <span><strong>Data:</strong> {{a.data}}</span>
                    <span><strong>Status:</strong> {% if a.status %} {{a.get_status_display}} {% else %} '' {% endif %}</span>
                </div>
                <div><strong>Guia:</strong> {{a.guia}}</div>
                <div><strong>Recomendações do guia:</strong> {{a.recomendacoes}}</div>
                <div><strong>Retorno:</strong> {% if a.precisa_retorno %} Sim {% else %} Não {% endif %}</div>

                <div class="mt-2 mb-2">
                    <a data-toggle="collapse" href="#collapseExample">
                        Ver mais
                    </a>
                </div>
                <div class="collapse" id="collapseExample">
                    <div class="card">
                        <div class="card-header"> <strong>Banhos</strong></div>
                        <div class="card-body">
                            {% for b in a.get_banhos %}
                            <div><strong>{{b.banho}}</strong>: {{b.instrucoes}}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header"><strong>Terapias</strong></div>
                        <div class="card-body">
                            {% for t in a.get_terapias %}
                            <div><strong>{{t.terapia}}</strong>: {{t.data}}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <div class="meus-atendimentos-bloco">
            Você ainda não tem atendimentos
        </div>
        {% endif %}
    </div>
</section>


{% endblock %}